body {
	margin: 0px;
	padding: 0px;

}

div {
    display: block;
}

.header__top-menu__item-list_black {

	margin-right: 24px;
    padding: 12px 0;
    color: black;
    display: inline-block;
    vertical-align: middle;
}

.header__top-menu {
	display:inline-block;
	list-style: none;
}

.second-menu {
	display:inline-block;
	list-style: none;
}

.header__logo {
	margin: 0 0 0 0;
}

.header__main-menu {
	border-bottom: 1px solid #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.header__logo_left {
	padding: 0 120px;
	vertical-align: middle;
}

.cart {
  
  display:inline-block;
}

.cart__icon-cart {
	margin-left: 120px;
	vertical-align: middle;
    margin-right: 8px;
}


.cart__text-cart {
    background-color: #eee;
    border-radius: 100%;
    padding: 4px 8px;
    margin: 0px 10px 0px 10px;
}

.sign-in {
	display:inline-block;
}

.sign-in__button_right {
    color: black;
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 15px;
    border: solid 1px gray;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 10px;
}

.second-menu__list_left {
	padding: 0 120px;
	font-size: 11px;
}

.second-menu__list_left_gray {
	padding-left: 0;
	padding: 15px;
    color: gray;
}
