body {
	margin: 0px;
	padding: 0px;

}

div {
    display: block;
}

.top-menu__item-list_black {

	margin-right: 24px;
    padding: 12px 0;
    color: black;
    display: inline-block;
    vertical-align: middle;
}

.header__top-menu {
	display:inline-block;
	list-style: none;
}

.second-menu {
	display:inline-block;
	list-style: none;
}

.header__logo {
	margin: 0 0 0 0;
}

.header__main-menu {
	border-bottom: 1px solid #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.header__logo_left {
	padding: 0 120px;
	vertical-align: middle;
}