body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.box {
	margin-top: 4rem;
    padding-top: 4rem;
    color: white;
}

.fa {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
}

.h2 {
	text-align: center;
}

.h4 {
	text-align: center;
}
.work-span {
	color: #fc6744
}

.p {
	text-align: center;
}